<!--<h1>Welcome to Bella's Salon</h1>
<h2>Find out the latest services for your nail care</h2><hr>
<br>
<h3>Create an account or Sign in</h3>





<%=# form_tag sessions_path do %>
  <%= #label_tag "Username" %>
  <%= #text_field_tag :username %>
  <%= #label_tag "Password" %>
  <%= #password_field_tag :password %>
  <%= #submit_tag "Sign In" %>
<% #end %>